/* PropertyList Styles */
/* .pList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: white;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 50px;
}

.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListItem:hover {
  outline: 3px solid white;
}

.pListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.pListTitles>h1 {
  font-size: 18px;
  color: white;
}

.pListTitles>h2 {
  font-size: 14px;
  font-weight: 300;
}

@media only screen and (max-width: 480px) {
  .pList {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .pListItem {
    width: 100%;
    max-width: 320px;
    max-height: 320px;
  }
} */

.myProgressBar{
  min-height: 50vh;
  background: hsla(214, 20%, 21%, 0.678);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.myProgressBar-wrapper{
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 25px;
  padding: 20px 0px 60px 0px;
}
.honecontentdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeTitlen{
  width: 100%;
  font-size: 23px;
  color: rgb(221, 218, 218);
  padding: 20px 0px 20px 20px;
}
.myProgressBar-container{
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;  
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: .5em;
  background: #4c4e5288;
  border-bottom: 15px solid #325077;
  border-top: 1px solid rgba(255, 255, 255, 0.359);
  border-left: 1px solid rgba(255, 255, 255, 0.359);
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(0, 0, 0, 0.103));
  transition: .4s;
}
.myProgressBar-container:hover{
  transform: translateY(-10px);
}
.myProgressBar-container::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.082);
  transform: skew(25deg);
}
.myProgressBar-container i{
  color: #115fc4;
  font-size: 3em;
  text-align: center;
}
.myProgressBar-container span.upnums{
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 1em;
}
.myProgressBar-container span.upnumsText{
  color: rgb(205, 199, 199);
  font-size: 1.2em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}
.myProgressBar-container img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  opacity: 0.8;

}

@media screen and (max-width: 1024px){
  .myProgressBar-wrapper{
      width: 80vw;
  }
  .myProgressBar-container{
      height: 30vmin;
      width: 30vmin;
      font-size: 14px;
  }
}
@media screen and (max-width: 768px){
  .myProgressBar-wrapper{
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
  }
  .myProgressBar-container{
      height: 26vmin;
      width: calc(50% -40%);
      font-size: 14px;
  }
}
@media screen and (max-width: 480px){
  .myProgressBar-wrapper{
      gap: 15px;
  }
  .myProgressBar-container{
      height: 50vmin;
      width: 80%;
      font-size: 8px;
  }
}
.forPlussmark{
  position: relative;
  display: flex;
  justify-content: center;
}
.forPlussmark p{
  font-size: 15px;
}